html,
body,
#root {
  height: 100%;
}

body {
  font-family: Manrope, "Noto Sans SC", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
}

* {
  -webkit-tap-highlight-color: transparent;
}
